/* Home.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --button-color: #000000;
  --my-chat-bubble-color: #DCF8C6;
  --my-chat-text-color: #000000;
  --other-chat-bubble-color: #F0F0F0;
  --other-chat-text-color: #000000;
  --chat-container-bg-color: #FFFFFF;
  --navbar-bg-color: #FFFFFF;
  --navbar-bold: normal;
  --chat-bubble-bold: normal;
  --chat-bubble-shadow: none;
  --time-bold: normal;
  --chatbox-bg-color: #f0f0f0; /* 기본 ChatBox 배경 색상 */
}

body, html {
  @apply m-0 p-0 h-full overflow-hidden;
}

body.dark {
  background: #2b2a2a;
  --my-chat-bubble-color: #333333;
  --my-chat-text-color: #ffffff;
  --other-chat-bubble-color: #444444;
  --other-chat-text-color: #ffffff;
  --chat-container-bg-color: #2b2a2a;
  --chatbox-bg-color: #575656; /* 다크 모드 ChatBox 배경 색상 */
}

.main-section {
  @apply relative flex flex-col h-screen;
}

.main-content {
  @apply flex flex-1 mt-14 transition-all ease-in-out overflow-hidden w-full;
}

.main-content.shifted {
  @apply ml-64;
}

.grid-container {
  @apply flex justify-center items-start h-full w-full;
}

.grid-item {
  @apply box-border bg-none flex flex-col overflow-hidden p-0 m-0;
  background-color: var(--chat-container-bg-color) !important; /* 배경 색상 */
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.grid-item.dark {
  background-color: var(--chat-container-bg-color);
}

.grid-item.no-border {
  @apply border-none;
}

.grid-drag-handle {
  @apply cursor-move p-2.5 bg-gray-300 border-b border-gray-200 text-center;
}

.chat-list-container {
  @apply overflow-y-auto overflow-x-hidden flex-1 m-0 p-2.5;
}

.chat-box-container {
  @apply overflow-y-hidden flex-none h-16 m-2.5 p-2.5 box-border;
}

.chat-box-container .chat-container {
  background-color: var(--chatbox-bg-color); /* ChatBox 배경 색상 */
}

.edit-buttons {
  @apply fixed bottom-5 right-5 flex gap-2.5;
}

.layout-info {
  @apply fixed bottom-0 left-0 bg-white bg-opacity-80 p-2 text-sm z-50;
}

@media (max-width: 1000px) {
  .main-content.shifted {
    @apply ml-0;
  }

  .ChatBoxFixed {
    @apply w-full;
  }
}

.show-scrollbar {
  @apply overflow-auto !important;
}

.react-resizable-handle {
  @apply absolute w-2.5 h-2.5 bg-gray-400 z-10;
}

.react-resizable-handle-s {
  @apply bottom-0 left-1/2 -ml-[0.3125rem] cursor-s-resize;
}

.react-resizable-handle-e {
  @apply right-0 top-1/2 -mt-1.25 cursor-e-resize;
}

.react-resizable-handle-w {
  @apply left-0 top-1/2 -mt-1.25 cursor-w-resize;
}

.react-resizable-handle-n {
  @apply top-0 left-1/2 -ml-[0.3125rem] cursor-n-resize;
}

.grid-item:not(.edit-mode) .react-resizable-handle {
  @apply hidden;
}

.grid-item.edit-mode.chat-container .react-resizable-handle {
  @apply block;
}

.grid-item.edit-mode {
  @apply border-none;
}
