@import url('https://fonts.googleapis.com/css2?family=Pretendard:wght@800&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-size: 18px;
}

.loginPage { 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: Pretendard;  
}  

.login-center-box {
  width: 100%;
  min-width: 1em;
  max-width: 25em;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form { 
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
.logininputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  position: relative;  
}
 
.logininputGroup img{
  margin-bottom: 6em;
  margin-top: 6em;
}

.inputField { 
  height: 5rem;
  position: relative;
  padding: 15px;
  border: 0.6px solid #b1b1b1;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 1.2rem;
}

.inputField:focus, .inputField:not(:placeholder-shown) {
  outline: none;
}

.inputField:focus + .underline, .inputField:not(:placeholder-shown) + .underline {
  height: 5.71%;
  width: 100%;
  position: absolute;
  top: 94.29%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 5px 5px;
  background-color: #007f3a;
}

.error {
  color: red;
  margin-bottom: 15px;
}

.LoginButton, .SignupButton {
  width: 100% !important;
  max-width: 25em;
  box-shadow: 0px 4px 30px rgba(38, 58, 67, 0.15);
  border-radius: 12px;
  border: none;
  background-color: #b5b5b6;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  font-family: Pretendard;
  margin-top: 15px;
}

.LoginButton:hover, .SignupButton:hover {
  background-color: #111111;
}

.LoginButton {
  margin-top: 2.5rem;
}

.SignupButton {
  margin-top: 15px;
}

.or {
  margin-top: 15px; 
  margin-bottom: 15px;  
  width: 28px; 
  font-size: 32px;
  font-family: Pretendard;
  color: #000; 
  display: inline-block;
}
 
.label {
  width: 100%;
  position: relative;
  font-size: 1.8rem;
  line-height: 156.5%;
  font-weight: 600;
  font-family: Pretendard;
  color: #263a43;
  text-align: left;
  display: block; 
  margin-bottom: 15px;
}
