/* Navigation.css */

:root {
  --navbar-bg-color: white; /* 기본 네비게이션 바 배경 색상 */
  --navbar-text-color: black; /* 기본 네비게이션 바 텍스트 색상 */
  --button-color: #1e3a8a; /* 버튼 색상 */
  --button-hover-color: #3b82f6; /* 버튼 호버 색상 */
}

.navbar {
  @apply fixed top-0 w-full z-[1000];
  background-color: var(--navbar-bg-color);
  color: var(--navbar-text-color);
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

.menu-button {
  @apply bg-none border-none text-xl cursor-pointer mr-4;
  color: var(--navbar-text-color);
}

.dropdown-menu {
  @apply text-sm py-0; /* 상하 여백 제거 */
  text-align: center; /* 드롭다운 메뉴 아이템 중앙 정렬 */
}

.dropdown-item {
  @apply text-sm flex items-center justify-center px-3 py-2; /* 좌우 여백 및 상하 여백 추가, 중앙 정렬 */
  color: var(--navbar-text-color); /* 드롭다운 아이콘 색상 */
}

.custom-dropdown-toggle {
  @apply bg-none border-none p-0 flex items-center justify-center; /* 중앙 정렬 */
  background: none !important; /* 배경 투명 */
  color: var(--navbar-text-color) !important; /* 드롭다운 아이콘 색상 */
  border: none !important;
  display: flex !important;
  align-items: center !important; /* 수직 중앙 정렬 강제 적용 */
  height: 100%; /* 높이를 부모 요소와 동일하게 설정 */
}

.custom-dropdown-toggle::after {
  display: none !important; /* 기본 드롭다운 화살표 제거 */
}

.new-chat-button {
  @apply bg-none border-none p-0 mr-2 text-lg cursor-pointer flex items-center;
  color: var(--navbar-text-color);
}

.custom-button {
  @apply border-none font-bold py-2 px-4 rounded flex items-center justify-center; /* 중앙 정렬 */
  background: none !important; /* 배경 투명 */
  color: var(--button-color); /* 버튼 색상 */
}

.custom-button:hover {
  color: var(--button-hover-color); /* 버튼 호버 색상 */
}

@media screen and (max-width: 768px) {
  .menu-button {
    @apply ml-2;
  }

  .dropdown-menu {
    @apply w-full left-0 right-0 text-center;
  }

  .navbar-brand {
    @apply mx-auto;
  }

  .navbar-collapse {
    @apply flex justify-between;
  }
}

.icon-text {
  @apply ml-2; /* 아이콘과 텍스트 사이의 간격 */
}

.icon {
  @apply text-sm w-4 h-4 mr-2 !important; /* 아이콘 크기 조정 및 오른쪽 여백 추가 */
  background: none !important; /* 배경 제거를 강제 적용 */
  color: var(--button-color) !important; /* 기본 색상 설정 */
  display: inline-flex !important;
  align-items: center !important; /* 수직 중앙 정렬 강제 적용 */
}

.custom-modal .modal-content {
  @apply p-4;
}

.custom-modal .modal-title {
  @apply text-lg font-semibold;
}

.custom-modal .modal-body {
  @apply space-y-4;
}
