/* Login.css */

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
  }
  
  .logo {
    width: 200px;
    margin-bottom: 40px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .error {
    color: red;
    margin-bottom: 20px;
    text-align: center;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #b5b5b6;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
  }
  
  button:not(:disabled):hover {
    background-color: #333;
  }
  