/* Pretrain.css */

.pretrain-container {
  padding: 20px;
}

.model-list {
  border-right: 1px solid #ced4da;
  padding-right: 20px;
}

.model-training {
  padding-left: 20px;
}

.response-message {
  margin-top: 20px;
  text-align: center;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item div {
  flex-grow: 1;
  margin-right: 10px;
}

.list-group-item button {
  margin-left: 5px;
}
